@page
@model WebApplicationDemo.Pages.StudentGroups.IndexModel

@{
    ViewData["Title"] = "Index";
    var sl = new List<SelectListItem>();
    sl.Add(new SelectListItem { Text = "StartWith" });
    sl.Add(new SelectListItem { Text = "EndWith" });
    sl.Add(new SelectListItem { Text = "Contains" });

}

<div class="row justify-content-between">
    <div class="col-12 col-md-2">
        <a asp-page="Create" class="btn btn-primary"><span class="bi bi-alarm"></span></a>
    </div>
    <div class="col-12 col-md-auto d-flex justify-content-end">
        <form asp-page-handler="Filter">    
       
            @Html.DropDownList("searchDirection",sl,"Напрямок пошуку:")
                     Назва: @Html.TextBox("SearchName")
                     <input type="submit" value="Фільтрувати" class="btn btn-primary"/>
        </form>
    
    </div>
</div>

<table class="table table-color">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroup[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
